<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
     <!--<h1>Builtin _filter in Functions</h1>
        <h2>{{data|lower}}</h2>
        <h2>{{data|upper}}</h2>
        <h2>{{data|capfirst}}</h2>
        <h2>{{data|title}}</h1>
        <h2>{{data|length}}</h2>
        <h2>{{data|truncatewords:'2'}}</h2>
        <h2>{{data|truncatechars:'10'}}</h2>
        <h2>{{data|slice:'10'}}</h2>
    -->
    <h2>{{dt|date:'Y M t '}}</h2>
    <h2>I have {{m}} monkey{{m|pluralize}}</h2>
    <h2>i have{{m}} do{{m|pluralize:'es'}}</h2>
    <h2>This {{m}} pen{{m|pluralize}} {{m|pluralize:'is,are'}}Mine</h2>
    <h2>{{dt}}</h2>
    </center>
    

    
</body>
</html>